@import url('./colors/colors.css');
@import url('./fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply md:bg-global-layout-fill text-content;
  }

  p {
    @apply text-base font-serif;
  }
}

@layer components {
  /* buttons */
  .button {
    @apply cursor-pointer font-normal text-base text-center rounded text-nowrap py-2 px-3 capitalize font-sans;
    position: relative;
    z-index: 1;
  }

  .button:hover::after {
    @apply opacity-100 scale-x-100;
  }

  .button::after {
    @apply absolute top-0 right-0 bottom-0 opacity-0 left-0 bg-darken rounded;
    content: '';
    z-index: 2;
    transform: scaleX(0.25);
    transition: opacity 250ms, transform 250ms;
  }

  .button-default {
    @apply text-neutral bg-surface;
  }

  .button-primary {
    @apply text-on-primary-container bg-primary-container;
  }

  .button-icon-start {
    @apply flex flex-row flex-nowrap items-center gap-2 pl-3 pr-4;
  }

  .button-icon-end {
    @apply flex flex-row flex-nowrap items-center gap-2 pl-4 pr-3;
  }

  /* tags */
  .tag {
    @apply rounded-full border font-sans text-sm px-3 py-1.5 border-neutral text-neutral relative;
    z-index: 1;
  }

  .tag:hover::after {
    @apply opacity-100 scale-x-100;
  }

  .tag::after {
    @apply absolute top-0 right-0 bottom-0 opacity-0 left-0 bg-primary-container rounded-full;
    content: '';
    z-index: -1;
    transform: scaleX(0.25);
    transition: opacity 250ms, transform 250ms;
  }

  .tag.active {
    @apply border-primary text-primary;
  }

  .tag.active::after {
    @apply opacity-0;
  }

  /* */
}

@layer utilities {
  .app-container {
    @apply container md:max-w-3xl mx-auto md:px-4;
  }
}
